<h1>{{fa-icon "clipboard"}} Post Tracker</h1>

{{#if isShowingModal}}
  {{#modal-dialog translucentOverlay=true close="closeModalDialog"}}
    {{closeModalDialog}}
    Post Body
    {{modalMessage}}
  {{/modal-dialog}}
{{/if}}

{{outlet}}